body {
    background-color: darkslategray;
    color: aliceblue;
    font-family: Monaco, Arial, Helvetica;
}

#main {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: aquamarine;
}