body {
    background-color: darkslategray;
    color: aliceblue;
    font-family: Monaco, Menlo, Arial, Helvetica;
}

#main {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

a {
    color: aquamarine;
}